<section id="contato" class="text-white flex flex-col items-center justify-center mt-20 px-5 gap-10">
    <h2 class="text-4xl md:text-8xl font-semibold tracking-tighter text-center md:max-w-[1440px] m-auto">
        Quer elevar sua presença digital com performance e inovação?
    </h2>    

    <app-extern-button 
        [buttonText]="'Entre em contato'" 
        [buttonLink]="'https://wa.me/5511954870925?text=Olá,%20gostaria%20de%20saber%20mais%20sobre%20seus%20serviços.'">
    </app-extern-button>
</section>