<section id="sobre" class="text-white flex md:flex-row flex-col px-5 items-center justify-between gap-10 mt-20">
    <img src="sobre-mim.png" alt="Sobre Mim">
    <div class="text-xl flex gap-6 flex-col">
        <h2 class="font-poppins text-5xl uppercase md:font-black">Sobre mim</h2>
        <p class="md:font-normal font-light">Sou um desenvolvedor apaixonado por criar soluções completas do front-end ao back-end sempre com foco em
            qualidade de código, automações e boas práticas de deploy com DevOps.</p>

        <p class="md:font-normal font-light">Atualmente estou aprofundando meus estudos em JavaScript, CI/CD e infraestrutura como código. Esse portfólio
            é onde compartilho minha trajetória, projetos e evolução contínua.</p>

        <div class="flex">
            <app-extern-button
                [buttonText]="'Meu Curriculo'"
                [buttonLink]="'pdf/curriculo.pdf'"
            >
            </app-extern-button>
        </div>
    </div>
</section>