<section class="text-white flex items-center justify-between gap-10 mt-20">
    <img src="sobre-mim.png" alt="Sobre Mim">
    <div class="text-xl">
        <h2 class="font-poppins text-5xl uppercase font-black">Sobre mim</h2>
        <p>Sou um desenvolvedor apaixonado por criar soluções completas do front-end ao back-end sempre com foco em
            qualidade de código, automações e boas práticas de deploy com DevOps.</p>

        <p>Atualmente estou aprofundando meus estudos em JavaScript, CI/CD e infraestrutura como código. Esse portfólio
            é onde compartilho minha trajetória, projetos e evolução contínua.</p>
        <a href=""
            class="text-lg font-medium leading-6 border rounded-xl py-6 px-10 border-[#6971A266] bg-linear-to-r/srgb from-[#161A31] to-[#06091F]">
            Meu Curriculo
            <i class="bi bi-arrow-up-right"></i>
        </a>
    </div>
</section>