<footer class="relative mt-20  w-full ">
    <img src="grid-pattern-footer.png" alt="" class="absolute -z-10 brightness-150 bottom-0">
    <img src="spotlight.png" alt="" class="md:block hidden absolute -z-10 brightness-150 bottom-0 left-0 -scale-y-100">
    <img src="spotlight.png" alt=""
        class="md:block hidden absolute -z-10 brightness-150 bottom-0 right-0 -scale-y-100 -scale-x-100">

    <div class="md:max-w-[1440px] m-auto flex md:flex-row flex-col-reverse justify-between p-10 gap-10">
        <div class="flex justify-center w-full text-center">
            <img src="logo-castro.png" alt="">
        </div>
        <div class="w-full">
            <p class="text-white text-center font-poppins font-light text-xl">Development by Guxxis;</p>
        </div>
        <div class="flex gap-5 align-middle justify-center w-full ">
            <a href="https://wa.me/5511954870925?text=Olá,%20gostaria%20de%20saber%20mais%20sobre%20seus%20serviços."
                rel="nofollow" target="_blank"
                class="text-white shadow-inner shadow-white/20 p-2 rounded-lg max-h-min"><i
                    class="bi bi-whatsapp"></i></a>
            <a href="https://www.linkedin.com/in/gustavogoncalves9914587/" rel="nofollow" target="_blank"
                class="text-white shadow-inner shadow-white/20 p-2 rounded-lg max-h-min"><i
                    class="bi bi-linkedin"></i></a>
            <a href="mailto:contato@guxxis.com" rel="nofollow" target="_blank"
                class="text-white shadow-inner shadow-white/20 p-2 rounded-lg max-h-min"><i
                    class="bi bi-envelope"></i></a>
            <a href="https://github.com/guxxis" rel="nofollow" target="_blank"
                class="text-white shadow-inner shadow-white/20 p-2 rounded-lg max-h-min"><i
                    class="bi bi-github"></i></a>
        </div>
        <a href="/home" class="fixed md:bottom-20 bottom-30 md:right-40 right-5 transition-all ease-in duration-300"
        [ngClass]="isScrolled?'translate-y-0':'translate-y-[200px]'">
            <i class="bi bi-arrow-up-circle-fill text-6xl"></i>
        </a>
    </div>

</footer>