<section id="conhecimento" class="text-white flex flex-col items-center justify-center mt-20 px-5 md:max-w-[1440px] m-auto">
    <h2 class="font-poppins text-5xl uppercase font-black">Stacks</h2>

    <div class="flex flex-wrap justify-evenly w-full py-5 gap-10">
        <div class="p-1 border border-[#878787] rounded-xl grow flex-1 min-w-5/12 md:min-w-2/12">
            <img src="icons/angular.svg" alt="Angular" class="w-full">
        </div>
        <div class="p-1 border border-[#878787] rounded-xl grow flex-1 min-w-5/12 md:min-w-2/12">
            <img src="icons/java.svg" alt="Angular" class="w-full ">
        </div>
        <div class="p-1 border border-[#878787] rounded-xl grow flex-1 min-w-5/12 md:min-w-2/12">
            <img src="icons/html.svg" alt="Angular" class="w-full">
        </div>
        <div class="p-1 border border-[#878787] rounded-xl grow flex-1 min-w-5/12 md:min-w-2/12">
            <img src="icons/css.svg" alt="Angular" class="w-full">
        </div>
        <div class="p-1 border border-[#878787] rounded-xl grow flex-1 min-w-5/12 md:min-w-2/12">
            <img src="icons/javascript.svg" alt="Angular" class="w-full">
        </div>
        <div class="p-1 border border-[#878787] rounded-xl grow flex-1 min-w-5/12 md:min-w-2/12">
            <img src="icons/typescript.svg" alt="Angular" class="w-full">
        </div>
        <div class="p-1 border border-[#878787] rounded-xl grow flex-1 min-w-5/12 md:min-w-2/12">
            <img src="icons/tailwind.svg" alt="Angular" class="w-full">
        </div>
        <div class="p-1 border border-[#878787] rounded-xl grow flex-1 min-w-5/12 md:min-w-2/12">
            <img src="icons/aws.svg" alt="Angular" class="w-full">
        </div>
        <div class="p-1 border border-[#878787] rounded-xl grow flex-1 min-w-5/12 md:min-w-2/12">
            <img src="icons/docker.svg" alt="Angular" class="w-full">
        </div>
        <div class="p-1 border border-[#878787] rounded-xl grow flex-1 min-w-5/12 md:min-w-2/12">
            <img src="icons/kubernetes.svg" alt="Angular" class="w-full">
        </div>
    </div>
</section>