<section id="conhecimento" class="text-white flex flex-col items-center justify-center mt-20 gap-10">
    <h2 class="font-poppins text-5xl uppercase font-black">Stacks</h2>

    <div class="flex flex-wrap justify-evenly w-full">
        <div class="p-1 border border-[#878787] rounded-xl">
            <img src="icons/angular.svg" alt="Angular" class="w-30">
        </div>
        <div class="p-1 border border-[#878787] rounded-xl">
            <img src="icons/java.svg" alt="Angular" class="w-30">
        </div>
        <div class="p-1 border border-[#878787] rounded-xl">
            <img src="icons/html.svg" alt="Angular" class="w-30">
        </div>
        <div class="p-1 border border-[#878787] rounded-xl">
            <img src="icons/css.svg" alt="Angular" class="w-30">
        </div>
        <div class="p-1 border border-[#878787] rounded-xl">
            <img src="icons/javascript.svg" alt="Angular" class="w-30">
        </div>
    </div>
    <div class="flex flex-wrap justify-evenly w-full">
        <div class="p-1 border border-[#878787] rounded-xl">
            <img src="icons/typescript.svg" alt="Angular" class="w-30">
        </div>
        <div class="p-1 border border-[#878787] rounded-xl">
            <img src="icons/tailwind.svg" alt="Angular" class="w-30">
        </div>
        <div class="p-1 border border-[#878787] rounded-xl">
            <img src="icons/mongodb.svg" alt="Angular" class="w-30">
        </div>
        <div class="p-1 border border-[#878787] rounded-xl">
            <img src="icons/mysql.svg" alt="Angular" class="w-30">
        </div>
        <div class="p-1 border border-[#878787] rounded-xl">
            <img src="icons/postgres.svg" alt="Angular" class="w-30">
        </div>
    </div>
    <div class="flex flex-wrap justify-evenly w-full">
        <div class="p-1 border border-[#878787] rounded-xl">
            <img src="icons/nodejs.svg" alt="Angular" class="w-30">
        </div>
        <div class="p-1 border border-[#878787] rounded-xl">
            <img src="icons/aws.svg" alt="Angular" class="w-30">
        </div>
        <div class="p-1 border border-[#878787] rounded-xl">
            <img src="icons/docker.svg" alt="Angular" class="w-30">
        </div>
        <div class="p-1 border border-[#878787] rounded-xl">
            <img src="icons/kubernetes.svg" alt="Angular" class="w-30">
        </div>
        <div class="p-1 border border-[#878787] rounded-xl">
            <img src="icons/git.svg" alt="Angular" class="w-30">
        </div>
    </div>
</section>