<section class="text-white flex w-full flex-col items-center justify-center gap-3 mt-20 px-5">

    <p class="text-lg md:text-3xl leading-5 tracking-widest uppercase font">gustavo gonçalves</p>

    <h1 class="text-4xl md:text-8xl font-bold tracking-tighter">Full Stack Developer <br>&
        <span class="font-medium">DevOps Enthusiast</span>
    </h1>

    <h2 class="text-base md:text-3xl leading-5 tracking-tighter text-[var(--grey)] text-center px-10">front-end I
        back-end I automação I boas práticas
        de deploy com DevOps</h2>

    <app-extern-button 
        [buttonText]="'Ver meus trabalhos'" 
        [buttonLink]="'https://github.com/guxxis'">
    </app-extern-button>

</section>